{% form_theme form _self %}

{% block ten_choice_question_label %}
    <b>- </b>{{ label }}
{% endblock %}

{% block ten_choice_question_widget %}

    {% spaceless %}
        {% if expanded %}
            <div class="row" {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <div class="col-xs-1">
                        {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>
            <div class="row" {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <div class="col-xs-1">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}

{% endblock %}

{% block ten_choice_question_row %}
        <div class="row table-row">
            <div class="col-xs-7">
                {{ form_label(form) }}
            </div>
            <div class="offset-xs-1 col-xs-5">
                {{ form_widget(form) }}
            </div>

        </div>
{% endblock %}
